<nav class="navbar navbar-expand-xl navbar-light">
  <%# LOGO %>
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "logo_flatter-rvb.png" %>
  <% end %>

  <%# RESPONSIVE MENU BUTTON %>
  <button class="btn navbar-toggler" type="button" data-toggle="canvas" data-target="#bs-canvas-right" aria-expanded="false" aria-controls="bs-canvas-right"><i class="fas fa-bars text-primary"></i></button>
  <%# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> %>

  <%# WIDE SCREEN MENU %>
  <%# TODO Active class for current nav item %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
        <%= link_to "My dashboard", dashboard_path, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
        <span class="nav-link nav-logged"><%= link_to "Sign in", new_user_session_path %></span>
        </li>
      <% end %>
      <li class="nav-item">
        <button class="btn" type="button" data-toggle="canvas" data-target="#bs-canvas-right" aria-expanded="false" aria-controls="bs-canvas-right"><i class="fas fa-bars text-primary"></i></button>
      </li>
    </ul>
  </div>
</nav>
