<!-- app/views/arrivals/_form.html.erb -->

<div class="container pt-3">
  <h4>my step</h4>
  <br>
  <%= simple_form_for [@flat, @arrival] do |f| %>
  <% if @arrival.errors.any? %>
    <div class="errors-container" style="color: #e91e63">
      <ul>
        <% @arrival.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
DEBUG
    <p>@flat : <%= @flat %></p>
    <p>@flat.id : <%= @flat.id %></p>
    <br>
    <p>@arrival: <%= @arrival%></p>
    <p>@arrival.id: <%= @arrival.id%></p>
    <p>@arrival.number: <%= @arrival.number%></p>
    <br>
    <p>current_user.id : <%= current_user.id %></p>


      <%= f.label :'Step number' %>
        <% if @arrival.number.nil? %>
          <%= f.text_field :number, class: 'form-control', min:"0", value: "#{@flat.arrivals.count + 1}" %>
        <% else %>
        <%= f.text_field :number, class: 'form-control' %>
        <% end %>

      <%= f.label :'description' %>
      <%= f.text_field :description, class: 'form-control', style:"border-color: #FF3760" %>

      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>

<!-- BUTTONS -->
    <div>
    <%= link_to "back", flat_arrivals_path(@flat), class: 'btn mybutton-light'%>
    <%= f.button :submit, class: 'btn btn-danger' %>
    <div>
<br>

<p class="mt-5">CLOUDINARY PHOTO</p>

    <% cl_image_tag @arrival.photo, height: 300, width: 400, crop: :fill, class: 'mt-5'%>
  <% end %>
</div>
<!-- arrival Model :(number, description, picture_url, status) -->
