<!-- app/views/arrivals/_form.html.erb -->

<div class="container pt-3">
  <h4>New step</h4>
  <br>
  <%= simple_form_for [@flat, @arrival] do |f| %>
  <% if @arrival.errors.any? %>
    <div class="errors-container" style="color: #e91e63">
      <ul>
        <% @arrival.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


      <%= f.label :'Step position' %>
        <% if @arrival.position.nil? %>
          <%= f.text_field :position,  min:"0", value: "#{@flat.arrivals.count + 1}", class: 'form-control' , style: 'font-size: 3rem; text-align: center'%>
        <% else %>
        <%= f.text_field :position, min:"0", class: 'form-control' %>
        <% end %>
 <!-- DEBUG -->
 <%= f.label :'Step id' %>
 <%= f.text_field :id, class: 'form-control'%>

      <%= f.label :'add description', class: 'mt-3' %>
      <%= f.input_field :description, class: 'form-control', placeholder:'...', style:"border-color: #209CCE" %>
      <br>

      <%= f.input :photo, label: :"Add photo", input_html: { class: 'text-primary' }%>
      <%= f.input :photo_cache, as: :hidden %>

    <div class="navbar_bottom fixed-bottom">

        <!--   BUTTON BACK  --->
        <%= link_to 'Back', 'javascript:history.back()', class: 'btn mybutton-light'%>

        <%# RESPONSIVE MENU BUTTON%>
        <div style="text-align: center">
          <button class="btn navbar-toggler p-0" data-toggle="canvas" data-target="#bs-canvas-right" aria-expanded="false" aria-controls="bs-canvas-right" style="color: white"><h1 class="fas fa-bars m-0" style="font-size: 2rem"></h1></button>
        </div>

        <!--   BUTTON SUBMIT  --->
        <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
<!-- arrival Model :(position, description, picture_url, status) -->
