<!-- app/views/arrivals/_form.html.erb -->

<div class="container pt-3">
  <%= simple_form_for [@flat, @arrival] do |f| %>
  <% if @arrival.errors.any? %>
    <div class="errors-container" style="color: #e91e63">
      <ul>
        <% @arrival.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!-- DEBUG -->
   <!--  <p>@flat : <%= @flat %></p>
    <p>@flat.id : <%= @flat.id %></p>
    <p>current_user.id : <%= current_user.id %></p> -->
<!-- // -->

  <%= form_for [@flat, @arrival] do |f| %>

    <div class="form-group">

    <div class="form-group">
      <%= f.label :'Step number' %>
      <%= f.text_field :number, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>
    </div>

    <%= f.submit value: "Create Step", class: 'btn btn-primary' %>
    <%= link_to "back", flat_arrivals_path(@flat), class: 'btn mybutton-light'%>


  <% end %>

  <% end %>
</div>
<!-- arrival Model :(number, description, picture_url, status) -->
