<div class="container pt-3">
<h4><%= @flat.name %></h4>
<br>

<%@arrivals.each do |arrival| %>
  <p>
  <%= link_to "#{arrival.number}", edit_flat_arrival_path(arrival.flat_id, arrival.id), class: 'badge badge-pill badge-primary' %>
  <%= link_to "#{arrival.description}", edit_flat_arrival_path(arrival.flat_id, arrival.id), class: 'text-dark'%>

   <%= link_to "edit", edit_flat_arrival_path(arrival.flat_id, arrival.id), class: 'text-primary'%>
  <%= link_to "delete", flat_arrival_path(arrival.flat_id, arrival.id), data: { confirm: "Are you sure you want to delete?" }, method: :delete, class: 'text-secondary'%>
  </p>
<% end %>


  <%= link_to "back", flat_path(@flat), class: 'btn mybutton-light mt-3'%>
  <%= link_to "+ add a step",  new_flat_arrival_path(@flat), class: 'btn btn-danger mt-3' %>

</div>

