<div class="container pt-3">
    <h4><%= "#{@flat.name}"%><span style="font-size: 1rem"><%= " (#{@flat.arrivals.count} steps)"%></span>
    <%= link_to raw("<i class=\"fas fa-play-circle\"></i><span class=\"badge badge-pill badge-light\">play</span>"), flat_arrival_path(@flat.id, 1), class: "text-success" %>
    </h4>
    <br>

<ul id="arrivals" style="list-style-type:none">
    <%@arrivals.each do |arrival| %>
      <li data-id="<%= dom_id(arrival) %>">
      <%#= arrival.id %>
      <%= link_to "#{arrival.position}", edit_flat_arrival_path(arrival.flat_id, arrival.position), class: 'badge badge-pill badge-primary mb-2', style: 'font-size: 1rem' %>
      <%= link_to "#{arrival.description}", edit_flat_arrival_path(arrival.flat_id, arrival.position), class: 'text-dark mr-2'%>

       <%= link_to raw("<i class=\"fas fa-edit\"></i><span class=\"badge badge-pill badge-light\">edit</span>"), edit_flat_arrival_path(arrival.flat_id, arrival.position), class: "text-primary" %>

         <%= link_to raw("<i class=\"fas fa-trash\"></i><span class=\"badge badge-pill badge-light\">delete</span>"), flat_arrival_path(arrival.flat_id, arrival.position), data: { confirm: "Are you sure you want to delete?" }, method: :delete, class: "text-danger" %>
    <br>
      <%= link_to edit_flat_arrival_path(@flat, arrival.position) do %>
      <%= cl_image_tag arrival.photo, height:200, width: 200, crop: :fill, class: 'mb-5'%>
      <% end %>
    <br>
    </li>
    <% end %>
</ul>

  <div class="mb-5 mt-3 pb-5">
  <%= link_to "+ add a step",  new_flat_arrival_path(@flat), class: 'btn btn-primary' %>
  </div>

</div>



<div class="navbar_bottom fixed-bottom">

<!--   BUTTON BACK  --->
  <%= link_to 'Back', 'javascript:history.back()', class: 'btn mybutton-light'%>

<%# RESPONSIVE MENU BUTTON%>
  <div style="text-align: center">
    <button class="btn navbar-toggler p-0" data-toggle="canvas" data-target="#bs-canvas-right" aria-expanded="false" aria-controls="bs-canvas-right" style="color: white"><h1 class="fas fa-bars m-0" style="font-size: 2rem"></h1></button>
  </div>

        <!--   BUTTON ADD STEP  --->
  <%= link_to "+ add a step",  new_flat_arrival_path(@flat), class: 'btn btn-primary' %>
</div>
