<!-- app/views/instruction/_form.html.erb -->

<div class="container pt-3">
  <h4>Create instruction</h4>
  <br>
  <%= simple_form_for(@instruction) do |f| %>
  <% if @instruction.errors.any? %>
    <div class="errors-container" style="color: #f43761">
      <ul>
        <% @instruction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


      <%= f.label :'instruction name' %>
      <%= f.text_field :name, class: 'form-control', placeholder:'...', style:"border-color: #FF3760" %>
      <%= f.label :'address (optional)', class: "text-secondary mt-5" %>
      <%= f.text_field :address, class: 'form-control'%>


    <div class="navbar_bottom fixed-bottom">

      <!--   BUTTON BACK  --->
      <%= link_to 'Back', 'javascript:history.back()', class: 'btn mybutton-light'%>

      <%# RESPONSIVE MENU BUTTON%>
      <div style="text-align: center">
        <button class="btn navbar-toggler p-0" data-toggle="canvas" data-target="#bs-canvas-right" aria-expanded="false" aria-controls="bs-canvas-right" style="color: white"><h1 class="fas fa-bars m-0" style="font-size: 2rem"></h1></button>
      </div>

      <!--   BUTTON SUBMIT  --->
      <%= f.button :submit, class: 'btn btn-danger' %>
    </div>

 <% end %>
</div>

