
<div class="container mt-3">


    <h4><%=link_to "#{@instruction.name}", edit_instruction_path(@instruction), class: 'text-dark'%></h4>

    <p><%= @instruction.address %></p>

    <div class="container d-flex justify-content-between">
    <h7><%= link_to raw("<i class=\"fas fa-edit\"></i><span class=\"badge badge-pill badge-light\">edit project</span>"), edit_instruction_path(@instruction), class: "text-primary" %></h7>

      <h7><%= link_to raw("<i class=\"fas fa-trash\"></i><span class=\"badge badge-pill badge-light\">delete project</span>"), instruction_path(@instruction), data: { confirm: "Are you sure you want to delete your project?" }, method: :delete, class: "text-danger" %></h7>

    <h7><%= link_to raw("<i class=\"fas fa-play-circle\"></i><span class=\"badge badge-pill badge-light\">play</span>"), instruction_step_path(@instruction.id, 1), class: "text-success" %></h7>
  </div>

 <!--   //DEBUG -->
 <!--    <p>@instruction.id : <%= @instruction.id %></p>
    <p>@instruction.user_id : <%= @instruction.user_id %></p>
    <p>current_user.id : <%= current_user.id %></p> -->
<!--     <p>@steps : <%= @steps %> </p> -->
<!-- // -->

</div>


<div class="navbar_bottom fixed-bottom">

<!--   BUTTON BACK  --->
  <%= link_to 'Back', 'javascript:history.back()', class: 'btn mybutton-light'%>

<%# RESPONSIVE MENU BUTTON%>
  <div style="text-align: center">
    <button class="btn navbar-toggler p-0" data-toggle="canvas" data-target="#bs-canvas-right" aria-expanded="false" aria-controls="bs-canvas-right" style="color: white"><h1 class="fas fa-bars m-0" style="font-size: 2rem"></h1></button>
  </div>

        <!--   BUTTON ADD STEP  --->
    <% if @instruction.steps.count == 0%>
      <%= link_to "+ add a step",  new_instruction_step_path(@instruction), class: 'btn btn-danger' %>
    <% else %>
       <%= link_to "edit steps (#{@instruction.steps.count})",  instruction_steps_path(@instruction), class: 'btn btn-danger' %>
    <% end %>
</div>

