<!-- app/views/flat/_form.html.erb -->

<div class="container pt-3">
  <%= simple_form_for(@flat) do |f| %>
  <% if @flat.errors.any? %>
    <div class="errors-container" style="color: #e91e63">
      <ul>
        <% @flat.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= form_for(@flat) do |f| %>

    <div class="form-group">

    <div class="form-group">
      <%= f.label :'Flat name' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control' %>
    </div>

    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to "back", flats_path(@flat), class: 'btn mybutton-light'%>

  <% end %>

 <% end %>
</div>


