<div class="container mt-3">
  <% if user_signed_in? %>

    <h4>My instructions</h4>
    <br>
    <% @user_flats.each do |flat| %>

        <div class="container d-flex justify-content-between">
          <h6>
            <%= link_to ("#{flat.name.upcase}"), flat_arrivals_path(flat.id, 1), class: 'btn mybutton-light mr-2', style: 'min-width:20vmax; text-align:left; font-weight: bold' %>

            <%= link_to raw("<i class=\"fas fa-edit\"></i><span class=\"badge badge-pill badge-light\">edit </span>"), flat_arrivals_path(flat.id), class: "text-secondary" %>

            <h7><%= link_to raw("<i class=\"fas fa-trash\"></i><span class=\"badge badge-pill badge-light\">delete</span>"), flat_path(flat.id), data: { confirm: "Are you sure you want to delete all your project?" }, method: :delete, class: "text-danger" %></h7>

            <%= link_to raw("<i class=\"fas fa-play-circle\"></i><span class=\"badge badge-pill badge-light\">play</span>"), flat_arrival_path(flat.id, 1), class: "text-success" %>
          </h6>


        </div>

      <div class="container mb-4 text-muted"> <%= flat.address %></div>
    <% end %>

  <% else %>
  <h4>Public instructions</h4>
    <br>
    <% @all_flats.each do |flat| %>

        <div class="container d-flex justify-content-between">
          <h5>
            <%= link_to ("#{flat.name.upcase}"), flat_arrivals_path(flat.id, 1), class: 'btn', style: 'min-width:20vmax; text-align:left; color: #f43761' %>

            <%= link_to raw("<i class=\"fas fa-edit\"></i><span class=\"badge badge-pill badge-light\">edit </span>"), flat_arrivals_path(flat.id), class: "text-secondary" %>

            <%= link_to raw("<i class=\"fas fa-play-circle\"></i><span class=\"badge badge-pill badge-light\">play</span>"), flat_arrival_path(flat.id, 1), class: "text-success" %>
          </h5>


        </div>

      <div class="container mb-4 text-muted"> <%= flat.address %></div>
  <% end %>

<% end %>

  <div class="mb-5 mt-3 ml-3 pb-5">
  <%= link_to "+ add instruction",  new_flat_path(@flat), class: 'btn btn-danger' %>
  </div>

</div>

<div class="navbar_bottom fixed-bottom">

<!--   BUTTON BACK  --->
  <%= link_to 'Back', 'javascript:history.back()', class: 'btn mybutton-light'%>

<%# RESPONSIVE MENU BUTTON%>
  <div style="text-align: center">
    <button class="btn navbar-toggler p-0" data-toggle="canvas" data-target="#bs-canvas-right" aria-expanded="false" aria-controls="bs-canvas-right" style="color: white"><h1 class="fas fa-bars m-0" style="font-size: 2rem"></h1></button>
  </div>

        <!--   BUTTON ADD INSTRUCTION  --->
  <%= link_to "+ add instruction",  new_flat_path(@flat), class: 'btn btn-danger' %>
</div>


