
<div class="container mt-3">

    <h3><%=link_to "#{@flat.name}", edit_flat_path(@flat), class: 'text-primary mr-2'%></h3>
    <p><%= @flat.address %></p>
    <p>
    <%= link_to "edit flat", edit_flat_path(@flat), class: 'text-primary mr-2'%>
    <%= link_to "delete flat", flat_path(@flat), data: { confirm: "Are you sure you want to delete your flat?" }, method: :delete, class: 'text-secondary'%>
    </p>
 <!--   //DEBUG -->
 <!--    <p>@flat.id : <%= @flat.id %></p>
    <p>@flat.user_id : <%= @flat.user_id %></p>
    <p>current_user.id : <%= current_user.id %></p> -->
<!--     <p>@arrivals : <%= @arrivals %> </p> -->
<!-- // -->


  <%= link_to "back", flats_path, class: 'btn mybutton-light mt-5'%>
  <%= link_to "#{@flat.arrivals.count} Steps",  flat_arrivals_path(@flat), class: 'btn btn-danger mt-5' %>

</div>

