
<div class="container mt-3">

    <div class="container d-flex pl-0">
      <h4><%=link_to "#{@flat.name}", edit_flat_path(@flat), class: 'text-dark mr-2'%>
      </h4>
      <h7>
    <%= link_to "edit project", edit_flat_path(@flat), class: 'text-primary mr-2'%>
    <%= link_to "delete project", flat_path(@flat), data: { confirm: "Are you sure you want to delete your project?" }, method: :delete, class: 'text-secondary'%>
      </h7>
    </div>
    <p><%= @flat.address %></p>

 <!--   //DEBUG -->
 <!--    <p>@flat.id : <%= @flat.id %></p>
    <p>@flat.user_id : <%= @flat.user_id %></p>
    <p>current_user.id : <%= current_user.id %></p> -->
<!--     <p>@arrivals : <%= @arrivals %> </p> -->
<!-- // -->

  <div class="mt-5">
    <%= link_to 'Back', 'javascript:history.back()', class: 'btn mybutton-light'%>
    <% if @flat.arrivals.count == 0%>
      <%= link_to "+ add a step",  new_flat_arrival_path(@flat), class: 'btn btn-danger' %>
    <% else %>
       <%= link_to "all steps (#{@flat.arrivals.count})",  flat_arrivals_path(@flat), class: 'btn btn-danger' %>
    <% end %>
    <%= link_to raw("<i class=\"fas fa-play-circle\"></i><span class=\"badge badge-pill badge-light\">play</span>"), flat_arrival_path(@flat.id, 1), class: "text-success" %>
  </div>

</div>

