
<div class="navbar_bottom fixed-bottom">

  <!--   BUTTON BACK  --->
    <div class="d-flex justify-content-center align-items-center">
<!--        1) for the home page -->
        <% if current_page?('/chocolate') || current_page?('/netflix') || current_page?('/hotwater') || current_page?('/pancakes') || current_page?('/frontdoor') || current_page?('/pooridge') ||current_page?('/bertie') ||current_page?('/ranelagh') || current_page?('/') %>
        <%= link_to 'Back', 'javascript:history.back()', class: 'btn mybutton-light mybutton-lg'%>

        <% elsif @step %>
        <!--no need for carousel-->
       <%#= link_to 'Back', 'javascript:history.back()', class: 'btn mybutton-light mybutton-lg'%>

        <% elsif @step || params[:controller] == 'instructions' %>
        <%= link_to 'Home', root_path, class: 'btn mybutton-light2 mybutton-lg'%>

        <% else %>
          <%= link_to 'Back', 'javascript:history.back()', class: 'btn mybutton-light mybutton-lg'%>
        <% end %>
    </div>



<%# RESPONSIVE MENU BUTTON%>
  <div class="d-flex justify-content-center align-items-center">
    <button class="btn navbar-toggler p-0" data-toggle="canvas" data-target="#bs-canvas-right" aria-expanded="false" aria-controls="bs-canvas-right" style="color: white"><h1 class="fas fa-bars m-0" style="font-size: 2rem"></h1></button>

<%# KEY INFO BUTTON%>
          <%# if @instruction.nil? %>

          <%# elsif params[:controller] == 'keyinfos' %>

          <%# else %>
            <%#= link_to instruction_keyinfo_path(@instruction, 1) do %>
<!--             <i class="fas fa-info text-light" style="font-size: 1.5rem"></i> -->
            <%# end %>
          <%# end %>
  </div>


 <!--   BUTTON NEXT  --->
   <div class="d-flex justify-content-center align-items-center">

<!--        1) for the keyinfo page -->
          <%# if params[:controller] == 'keyinfos' %>
            <%#= link_to "home", homes_for_booking_path(@instruction.name), class: 'btn btn-primary mybutton-lg'%>
<!--        2) for the home page    -->
          <% if current_page?('/')%>
       <!--    <%= link_to raw("<i class=\"fas fa-search\"></i> search"), instructions_path, class: "btn btn-danger" %> -->

          <% elsif current_page?('/chocolate') || current_page?('/netflix') || current_page?('/hotwater') || current_page?('/pancakes') || current_page?('/frontdoor') || current_page?('/pooridge') || current_page?('/bertie') || current_page?('/ranelagh') ||current_page?('/')%>

          <% elsif params[:controller] == 'keyinfos'%>

          <%= link_to "home", homes_for_booking_path("chocolate"), class: 'btn btn-primary mybutton-lg'%>

          <% elsif params[:controller] == 'instructions'%>

          <%= link_to "+create", new_instruction_path, class: 'btn btn-danger mybutton-lg' %>

<!--          SEND SMS FOR CHOCOLATE -->
          <% elsif @instruction.name == "chocolate" && @step.position == 5 %>
          <%= link_to "next", sms1_path(@instruction, @step.position + 1), class: 'btn btn-danger mybutton-lg'%>


          <% elsif @step.position == @instruction.steps.count && ["netflix", "hotwater", "frontdoor", "chocolate"].include?(@instruction.name) %>
           <%= link_to "house manual", instruction_keyinfo_path(1, 1), class: 'btn btn-danger mybutton auto'%>


          <% elsif @step.position == @instruction.steps.count %>
          <%= link_to "close", root_path, class: 'btn btn-success mybutton-lg'%>

          <% else %>
          <!--no need for carousel-->
          <%#= link_to "next", instruction_step_path(@instruction, @step.position + 1), class: 'btn btn-danger mybutton-lg text-white' %>

         <% end %>
    </div>

    </div>
