
<div class="navbar_bottom fixed-bottom">

  <!--   BUTTON BACK  --->
    <div>
          <% if @arrival.nil? %>

         <% elsif @arrival.number <= 1 %>
            <%= link_to "home", homes_for_booking_path(@flat.name), class: 'btn mybutton-light mybutton-lg' %>
          <% else %>
          <%= link_to "back", flat_arrival_path(@flat, @arrival.number - 1), class: 'btn mybutton-light mybutton-lg'%>
          <% end %>
    </div>
 <!--   BUTTON INFO  --->
    <div>
          <% if @flat.nil? %>

          <% elsif params[:controller] == 'keyinfos' %>
           <%= link_to homes_for_booking_path(@flat.name) do %>
          <h1><i class="fas fa-home" style="color: white"></i></h1>
            <% end %>
          <% else %>
           <%= link_to keyinfos_path (@flat.name) do %>
        <h1><i class="fas fa-info" style="color: white"></i></h1>
            <% end %>
          <% end %>

    </div>

 <!--   BUTTON NEXT  --->
   <div>
          <% if @arrival.nil? %>

          <% elsif @arrival.number == 6 %>
            <%= link_to "key info", keyinfos_path(@flat.name), class: 'btn btn-danger mybutton-lg' %>
          <% else %>
            <%= link_to "next", flat_arrival_path(@flat, @arrival.number + 1), class: 'btn btn-danger mybutton-lg' %>
          <% end %>
    </div>
</div>

