
<div class="navbar_bottom fixed-bottom">

  <!--   BUTTON BACK  --->
    <div>
        <% if params[:controller] == 'keyinfos' %>
          <%= link_to "home", homes_for_booking_path(@flat.name), class: 'btn mybutton-light mybutton-lg' %>

        <% elsif @arrival.nil? %>

        <% elsif @arrival.number <= 1 %>
            <%= link_to "home", homes_for_booking_path(@flat.name), class: 'btn mybutton-light mybutton-lg' %>

          <% else %>
          <%= link_to "back", flat_arrival_path(@flat, @arrival.number - 1), class: 'btn mybutton-light mybutton-lg'%>
          <% end %>
    </div>



<%# RESPONSIVE MENU BUTTON %>
  <div style="font-size: 2.25rem">
    <button class="fas fa-tachometer-alt" data-toggle="canvas" data-target="#bs-canvas-right" aria-expanded="false" aria-controls="bs-canvas-right" style="color: white"></button>
  </div>



 <!--   BUTTON NEXT  --->
   <div>
          <% if @arrival.nil? %>

          <% elsif @flat.name == "chocolate" && @arrival.number == 5 %>
          <%= link_to "next", sms_path(@flat), method: :get, class: 'btn btn-danger mybutton-lg'%>

          <% elsif @arrival.number == @flat.arrivals.count %>
            <%= link_to "infos", keyinfos_path(@flat.name), class: 'btn btn-danger mybutton-lg' %>
          <% else %>
            <%= link_to "next", flat_arrival_path(@flat, @arrival.number + 1), class: 'btn btn-danger mybutton-lg' %>
          <% end %>
    </div>

    </div>
