<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top p-1">


  <% if @flat.nil? %>
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "logo_easyinstructions3.png" %>
      <span>easy<strong>instructions</strong></span>
      <% end %>

  <% elsif user_signed_in? %>
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo_easyinstructions3.png" %>
      <span>easy<strong>instructions</strong></span>
      <% end %>
  <% else %>
    <%= link_to homes_for_booking_path(@flat), class: "navbar-brand" do %>
      <%= image_tag "logo_easyinstructions3.png" %>
      <span>easy<strong>instructions</strong> for <%= @flat.name %> nest</span>

      <% end %>
  <% end %>
<!--   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <%# RESPONSIVE MENU BUTTON %>
  <button class="btn navbar-toggler" type="button" data-toggle="canvas" data-target="#bs-canvas-right" aria-expanded="false" aria-controls="bs-canvas-right" style="font-size: 0.75rem"><i class="navbar-toggler-icon"></i></button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My projects", flats_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My account", edit_user_registration_path, class: "dropdown-item" %>
          </li>

       <% end %>
        </ul>
  </div>

</div>


