<div id="bs-canvas-right" class="bs-canvas bs-canvas-right position-fixed h-100">
  <header class="bs-canvas-header px-3 py-4 overflow-auto">
    <h4>
      <%# USER HEADER %>
      <% if user_signed_in? %>
        <p><%= image_tag current_user.avatar, class: "avatar", id: "avatar" %>
</p>

        <%#= image_tag "https://res.cloudinary.com/dtwpyokni/image/upload/v1558705228/maxime.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        Hi <%= current_user.first_name %>!
      <%# GUEST HEADER %>
      <% else %>
        <p>you must</p>
        <p>log in</p>

      <% end %>

    </h4>
    <!-- <button type="button" class="bs-canvas-close btn close" aria-label="Close" aria-expanded="false">
      <i class="fas fa-arrow-circle-right"></i>
    </button> -->
  </header>
  <%# USER MENU %>
  <% if user_signed_in? %>
    <h5 class="nav-link text-secondary small">Dashboard</h5>

    <%= link_to raw("<i class=\"fas fa-book\"></i> My instructions <span class=\"badge badge-pill badge-light\">#{current_user.flats.count}</span>"), flats_path, class: "dropdown-item" %>

    <%#= link_to raw("<i class=\"fas fa-plus-square\"></i> Add new project"), new_flat_path, class: "dropdown-item" %>

    <div class="dropdown-divider"></div>

    <h5 class="nav-link text-secondary small">Account</h5>
    <%= link_to raw("<i class=\"fas fa-user-edit\"></i> Edit my account"), edit_user_registration_path, class: "dropdown-item" %>

    <%= link_to raw("<i class=\"fas fa-bolt\"></i> Upgrade to premium"), '#', class: "dropdown-item text-dark" %>
    <div class="dropdown-divider"></div>
    <%= link_to raw("<i class=\"fas fa-sign-out-alt\"></i> Logout"), destroy_user_session_path, method: :delete, class: "dropdown-item" %>
  <%# GUEST MENU %>
  <% else %>
    <div class="dropdown-item"><%= link_to "Log in", new_user_session_path, class: "btn btn-danger btn-block text-left" %></div>
  <!--   <#%= render "devise/shared/links-sidebar" %> -->
    <div class="dropdown-divider"></div>
    <div class="dropdown-item"><%= link_to "Sign up", new_user_registration_path, class: "btn btn-sm btn-outline-secondary btn-block text-left" %></div>
  <% end %>
  <%# COMMON MENU %>
<br>
  <%= link_to raw("<i class=\"fas fa-plus text-danger\"></i> Add new project"), new_flat_path, class: "dropdown-item" %>
  <%= link_to raw("<i class=\"fas fa-search\"></i> Search"), flats_path, class: "dropdown-item" %>


  <h5 class="nav-link text-secondary small mt-5">About Easyinstructions.com</h5>
  <%#= link_to raw("About us"), '#', class: "dropdown-item small" %>
  <%#= link_to raw("FAQ"), '#', class: "dropdown-item small" %>
  <%= link_to "Contact us", 'https://mobile.facebook.com/105897947453950', class: "dropdown-item small text-primary" %>
  <%#= link_to raw("Legal notices"), '#', class: "dropdown-item small" %>

  <!-- TEMPORARY TRICK -->
  <div class="mt-5 mr-5">
    <button type="button" class="bs-canvas-close btn close" aria-label="Close" aria-expanded="false">
        <i class="fas fa-arrow-circle-right"></i>
      </button>
  </div>

</div>

