 <%= render 'shared/navbar_wagon' %>

<div class="banner">  <!-- was banner home -->
          <h1><span><strong>instructions</strong><sup>&trade;</sup></span></h1>
          <h3 id="typed" data-strings="<%= ["step by step"].to_json  %>" data-speed="150" data-loop="true" style="display: inline"></h3>


  <div class="row justify-content-center">
    <%= link_to new_flat_path do %>
    <%= image_tag "undraw_travelers_qlt1.png", id:"travelers",class:"img-fluid"%>
    <% end %>
  </div>

  <div class="row justify-content-center">
    <%= link_to "+ create new", new_flat_path, class: 'btn btn-danger mybutton-lg home' %>
  </div>

<%= render 'shared/navbar_bottom' %>
