<%= render 'shared/navbar_wagon' %>

<div class="banner">  <!-- HOME(s)FOR BOOKING Guest-->
          <h1 style="padding-top: 60px"><span><strong><%= @flat.name %></strong></span></h1>
          <h3 id="typed" data-strings="<%= ["step by step"].to_json  %>" data-speed="150" data-loop="true" style="display: inline"></h3>
<br>

  <div class="row justify-content-center">
    <%= link_to flat_arrival_path(@flat.id, 1) do %>
    <%= image_tag "undraw_travelers.png", id:"travelers",class:"img-fluid mt-3 mb-1"%>
    <% end %>
  </div>


  <div class="row justify-content-center">
    <%= link_to "Check-in", flat_arrival_path(@flat.id, 1), class: 'btn btn-danger mybutton-lg home' %>
  </div>

    <div class="row justify-content-center mt-2">
    <%= link_to "netflix", flat_arrival_path(3, 1), class: 'btn btn-secondary', style: 'width: 40%'%>
  </div>

    <div class="row justify-content-center mt-2">
    <%= link_to "hot water", flat_arrival_path(4, 1), class: 'btn btn-secondary', style: 'width: 40%'%>
  </div>

<%= render 'shared/navbar_bottom' %>
