<%= render 'shared/navbar_wagon' %>

<div class="banner">  <!-- HOME(s)FOR BOOKING Guest-->
          <h1 style="padding-top: 60px"><span><strong>instructions</strong></span></h1>
          <h3 id="typed" data-strings="<%= ["step by step"].to_json  %>" data-speed="150" data-loop="true" style="display: inline"></h3>
<br>

  <div class="row justify-content-center">
    <%= link_to flat_arrival_path(@flat.id, 1) do %>
    <%= image_tag "undraw_travelers.png", id:"travelers",class:"img-fluid mt-3 mb-1"%>
    <% end %>
  </div>

  <div class="row justify-content-center">
    <%= link_to "start", flat_arrival_path(@flat.id, 1), class: 'btn btn-danger mybutton-lg home' %>
  </div>

  <!--   BUTTON INFO  --->
    <div class="container d-flex justify-content-center mt-3" style="color: grey">
    <h7>
          <% if @flat.nil? %>
          <% elsif params[:controller] == 'keyinfos' %>
           <%= link_to homes_for_booking_path(@flat.name) do %>
           <%= @flat.name %>
            <i class="fas fa-home"></i>
            <% end %>
          <% else %>
           <%= link_to keyinfos_path (@flat.name) do %>
           <%= @flat.name %>
            <i class="fas fa-info"></i>
            <% end %>
          <% end %>
    </h7>
  </div>



<%= render 'shared/navbar_bottom' %>
