
<div class="container ml-3 mt-3 pb-2 border-bottom">

    <div class="container d-flex align-items-center pl-0">
        <h6><%=link_to raw("#{@instruction.name} <span class=\"text-muted\" style=\"font-size:1rem\">(#{@steps.count} steps)</span>"), edit_instruction_path(@instruction), class: 'text-dark'%></h6>
        <h6 class='ml-1 text-success'>  <%= @instruction.private ? "- private" : "- public" %> </h6>
    </div>

    <h7 class="text-muted"><%= @instruction.address %></h7>

    <div class="container d-flex justify-content-between pl-0 mt-1">
    <h7><%= link_to raw("<i class=\"fas fa-edit\"></i><span class=\"badge badge-pill badge-light\">edit infos</span>"), edit_instruction_path(@instruction), class: "text-secondary" %></h7>

     <h7 id="trigger"><%= link_to raw("<i class=\"fas fa-sort\"></i><span class=\"badge badge-pill badge-light\">re-order  <i class=\"far fa-hand-paper\"></i></span>"), target: "_blank", class: "text-primary" %></h7>

      <h7><%= link_to raw("<i class=\"fas fa-play-circle\"></i><span class=\"badge badge-pill badge-light\">play</span>"), instruction_step_path(@instruction, 1), class: "text-success" %></h7>

  </div>

</div>


<!--
START DEBUG

<a>@steps:</a>
    <p><%= @steps%></p>
<br>
  <a style="color: blue">@order:</a>
  <p style="color: blue"><%= @order%></p>
 END DEBUG -->

<div class="container ml-3 mt-4" style="width: 60%">

<ul id="items" style="list-style-type:none; margin:0px; padding:0px"  data-url="<%=instruction_steps_path(@instruction)%>">
    <%@steps.each do |step| %>
      <li data-id="<%= dom_id(step) %>">
      <%= link_to "#{step.position}", edit_instruction_step_path(step.instruction_id, step.position), class: 'badge badge-pill badge-primary mb-2', style: 'font-size: 1rem' %>
      <%= link_to "#{step.description}", edit_instruction_step_path(step.instruction_id, step.position), class: 'text-muted mr-2'%>
    <br>
       <%= link_to raw("<i class=\"fas fa-edit\"></i><span class=\"badge badge-pill badge-light\">edit</span>"), edit_instruction_step_path(step.instruction_id, step.position), class: "text-primary" %>

         <%= link_to raw("<i class=\"fas fa-trash\"></i><span class=\"badge badge-pill badge-light\">delete</span>"), instruction_step_path(step.instruction_id, step.position), data: { confirm: "Are you sure you want to delete?" }, method: :delete, class: "text-danger"%>
    <br>
<!--       <%= link_to edit_instruction_step_path(@instruction, step.position) do %>
      <%= cl_image_tag step.photo, height:120, width: 120, crop: :fill, class: 'mt-2 mb-3'%>
      <% end %> -->
            <%= cl_image_tag step.photo, height:120, width: 120, crop: :fill, class: 'mt-2 mb-3'%>
    <br>
    </li>
    <% end %>
</ul>

  <div class="mb-5 mt-3 pb-5">
  <%= link_to "+ add a step",  new_instruction_step_path(@instruction), class: 'btn btn-primary' %>
  </div>

</div>



<div class="navbar_bottom fixed-bottom">


<!--   BUTTON BACK  --->
  <div class="d-flex justify-content-center align-items-center">
  <%= link_to 'Back', 'javascript:history.back()', class: 'btn mybutton-light'%>
  </div>

<%# RESPONSIVE MENU BUTTON%>
  <div class="d-flex justify-content-center align-items-center">
    <button class="btn navbar-toggler p-0" data-toggle="canvas" data-target="#bs-canvas-right" aria-expanded="false" aria-controls="bs-canvas-right" style="color: white"><h1 class="fas fa-bars m-0" style="font-size: 2rem"></h1></button>
  </div>

        <!--   BUTTON ADD STEP  --->
  <div class="d-flex justify-content-center align-items-center">
  <%= link_to "+ add a step",  new_instruction_step_path(@instruction), class: 'btn btn-primary' %>
  </div>
</div>
