<!-- ORIGINAL -->
<!--   <header>
    <h1 id="typed" data-strings="<%= ([] << @step.description).to_json %>" data-speed="100" data-loop="false" style="color: #f43761; display: inline;"></h1>
  </header>
 -->
<!--
  <div class="main-content" style="background-image: url('<%= cl_image_path @step.photo, :dpr => "auto", :responsive => true, :width => "auto", :quality=> "auto", :fetch_format=> "auto" %>')">
  </div> -->

<!-- CAROUSEL -->


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false" data-touch="true" data-wrap="false">

  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <% qty = 0 %>
          <%(@steps.length - 1).times do%>
          <% qty += 1 %>
    <li data-target="#carouselExampleIndicators" data-slide-to="<%="#{qty}"%>"></li>
          <% end %>
  </ol>

  <div class="carousel-inner">

     <div class="main-content carousel-item active" style="background-image: url('<%= cl_image_path @step.photo, :dpr => "auto", :responsive => true, :width => "auto", :quality=> "auto", :fetch_format=> "auto" %>')" alt="first slide">


          <div class="carousel-caption d-md-block ">
          <header class="p-3"><h1> <%= @step.description %></h1></header>
          </div>

    </div>

     <% @steps[1..-2].each do |step| %>
     <div class="main-content carousel-item" style="background-image: url('<%= cl_image_path step.photo, :dpr => "auto", :responsive => true, :width => "auto", :quality=> "auto", :fetch_format=> "auto" %>')" alt="middle slides">

      <div class="carousel-caption d-md-block">
            <header class="p-3"><h1> <%= step.description %> </h1></header>
      </div>

    </div>
    <% end %>


      <div class="main-content carousel-item" style="background-image: url('<%= cl_image_path @steps.last.photo, :dpr => "auto", :responsive => true, :width => "auto", :quality=> "auto", :fetch_format=> "auto" %>')" alt="last slide">

        <div class="carousel-caption d-md-block">
            <header class="p-3"> <h1> <%= @steps.last.description %> </h1> </header>
             <%= link_to "House manual 📙", instruction_keyinfo_path(1, 1), class: 'btn btn-secondary mybutton-lg home text-white mt-5', id: 'blinkbutton' %>
        </div>
      </div>


  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next ctrigsms" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<%= render 'shared/navbar_bottom' %>


NAVBAR BOTTOM FOR CARROUSEL
<div class="navbar_bottom fixed-bottom">

<!-- BUTTON BACK -->
      <div class="d-flex justify-content-center align-items-center">

          <a class="btn mybutton-light mybutton-lg" href="#carouselExampleIndicators" role="button" data-slide="prev">Back</a>
      </div>

<!-- CENTRAL ICON -->
      <div class="d-flex justify-content-center align-items-center">
        <button class="btn navbar-toggler p-0" data-toggle="canvas" data-target="#bs-canvas-right" aria-expanded="false" aria-controls="bs-canvas-right" style="color: white"><h1 class="fas fa-bars m-0" style="font-size: 2rem"></h1></button>
      </div>

<!-- BUTTON NEXR  -->
      <div class="d-flex justify-content-center align-items-center">

            <a class="btn btn-danger mybutton-lg ctrigsms" href="#carouselExampleIndicators" role="button" data-slide="next">Next</a>

      </div>

</div>




