<h1><%= "Step#show#{@step.id}" %></h1>
<p>Find me in app/views/steps/show.html.erb</p>



<div class="container">
  <div class="row" style= "display: flex; justify-content: space-between;">
    <% if @step.id <= 1 %>
      <%= link_to "back", root_path, class: 'btn btn-secondary btn-lg' %>
    <% else %>
    <%= link_to "back", step_path(@step.id - 1), class: 'btn btn-secondary btn-lg' %>
    <% end %>
      <%= link_to 'next', step_path(@step.id + 1), class: 'btn btn-danger btn-lg' %>
  </div>
  <%= @step.id %>
  <%= @step.description %>
</div>
