<!-- app/views/arrivals/_form.html.erb -->

<div class="container pt-3">
  <h4>Add a step</h4>
  <br>
  <%= simple_form_for [@flat, @arrival] do |f| %>
  <% if @arrival.errors.any? %>
    <div class="errors-container" style="color: #e91e63">
      <ul>
        <% @arrival.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<!-- DEBUG -->
   <!--  <p>@flat : <%= @flat %></p>
    <p>@flat.id : <%= @flat.id %></p>
    <p>current_user.id : <%= current_user.id %></p> -->
<!-- // -->

    <div class="form-inputs">
      <%= f.label :'Step position' %>

    <% if @arrival.position.nil? %>
      <%= f.text_field :position, class: 'form-control', type:"number", min:"0", value: "#{@flat.arrivals.count + 1}" %>
    <% else %>
    <%= f.text_field :position, class: 'form-control', type:"number", min:"0", value: "#{@arrival.position}" %>
    <% end %>

      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>

      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
    </div>

    <%#= link_to "back", flat_arrivals_path(@flat), class: 'btn mybutton-light'%>
    <div class="form-actions">
    <%= link_to "back", flat_arrivals_path(@flat), class: 'btn mybutton-light'%>
    <%= f.button :submit, class: 'btn btn-danger' %>
    <div>
<br>

<p class="mt-5">CLOUDINARY PHOTO</p>

    <% cl_image_tag @arrival.photo, height: 300, width: 400, crop: :fill, class: 'mt-5'%>
  <% end %>
</div>
<!-- arrival Model :(position, description, picture_url, status) -->
