<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118196171-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-118196171-4');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Easy Instructions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
<div class="bs-canvas-overlay bg-dark position-fixed w-100 h-100"></div>
 <%# NAVBARS %>
    <%= render 'shared/sidebar' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
     <%= javascript_pack_tag 'application' %>
<%# ASYNC JS %>

    <%= yield :after_js %>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<%# OPTIMIZE Refactor JQuery sidebar menu %>
    <script>
      jQuery(document).ready(function($){
        var bsOverlay = $('.bs-canvas-overlay');
        $('[data-toggle="canvas"]').on('click', function(){
          var ctrl = $(this),
            elm = ctrl.is('button') ? ctrl.data('target') : ctrl.attr('href');
          $(elm).addClass('mr-0');
          $(elm + ' .bs-canvas-close').attr('aria-expanded', "true");
          $('[data-target="' + elm + '"], a[href="' + elm + '"]').attr('aria-expanded', "true");
          if(bsOverlay.length)
            bsOverlay.addClass('show');
          return false;
        });

        $('.bs-canvas-close, .bs-canvas-overlay').on('click', function(){
          var elm;
          if($(this).hasClass('bs-canvas-close')) {
            elm = $(this).closest('.bs-canvas');
            $('[data-target="' + elm + '"], a[href="' + elm + '"]').attr('aria-expanded', "false");
          } else {
            elm = $('.bs-canvas')
            $('[data-toggle="canvas"]').attr('aria-expanded', "false");
          }
          elm.removeClass('mr-0');
          $('.bs-canvas-close', elm).attr('aria-expanded', "false");
          if(bsOverlay.length)
            bsOverlay.removeClass('show');
          return false;
        });
      });

    </script>

  </body>

</html>
